[project]
	description = test-jenkins
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/surrehman76
[access "refs/for/refs/*"]
	read = group user/surrehman76
	push = group user/surrehman76
	label-Code-Review = -2..+2 group user/surrehman76
	label-Verified = -1..+1 group user/surrehman76
	rebase = group user/surrehman76
	removeReviewer = group user/surrehman76
	submit = group user/surrehman76
[access "refs/heads/*"]
	read = group user/surrehman76
	create = group user/surrehman76
	push = +force group user/surrehman76
	pushMerge = group user/surrehman76
[access "refs/tags/*"]
	push = +force group user/surrehman76
	pushTag = group user/surrehman76
	pushSignedTag = group user/surrehman76
